# Django config
SECRET_KEY=use-your-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,127.0.0.2 
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://127.0.0.2
GOOGLE_ANALYTICS_ID=use-your

# DB settings
#ENGINE=1234
#NAME=1234
#USER=1234
#PASSWORD=1234
#HOST=1234
#PORT=1234