# Django config
SECRET_KEY=use-your-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,127.0.0.2 
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://127.0.0.2
GOOGLE_ANALYTICS_ID=use-your

# BD settings for live db
#ENGINE=mysql
#NAME=yqagfrqa_lws_v_sec9943
#USER=yqagfrqa_adlwp4564
#PASSWORD=!kSFg_)9_!343Kgdmlf%
#HOST=localhost
#PORT=3306